In [1]:
import pandas as pd

In [2]:
data = {
    'Nombre': ['Ana', 'Maria', 'Sofía', 'Luisa', 'Josefa'],
    'Rut': ['2446500-1', '12181181-2', '11004663-4', '13940675-3', '17027199-8'],
    'Edad': [22, 35, 12, 32, 45],
    'Altura': [1.6, 1.7, 1.6, 1.7, 1.6],
    'Peso': [65, 42, 64, 74, 62]
}
df = pd.DataFrame(data)

creación de nuevas columnas

In [3]:
# Crea la columna 'Rut estandarizado'
# sin guión ni digito verificador
# agrega ceros a la derecha si tiene menos de 8 digitos
df['Rut estandarizado'] = df['Rut'].apply(lambda x: x.split('-')[0].replace('.','').zfill(8))

# Crea la columna 'Dígito verificador'
df['Digito verificador'] = df['Rut'].apply(lambda x: x.split('-')[1])

# Calculo el Índice de Masa Corporal (IMC)
df['IMC'] = df['Peso'] / (df['Altura'] ** 2)

# Crear la columna 'Clasificación de edad'
def clasificar_edad(edad):
    if edad > 60:
        return 'Mayor de 60 años'
    elif edad > 30:
        return 'Mayor de 30 años'
    else:
        return 'Menor de 30 años'
df['Clasificación de edad'] = df['Edad'].apply(clasificar_edad)

DataFrame con nuevas columnas:

In [4]:
df.head()

,Nombre,Rut,Edad,Altura,Peso,Rut estandarizado,Digito verificador,IMC,Clasificación de edad
0,Ana,2446500-1,22,1.6,65,02446500,1,25.390625,Menor de 30 años
1,Maria,12181181-2,35,1.7,42,12181181,2,14.532872,Mayor de 30 años
2,Sofía,11004663-4,12,1.6,64,11004663,4,25.000000,Menor de 30 años
3,Luisa,13940675-3,32,1.7,74,13940675,3,25.605536,Mayor de 30 años
4,Josefa,17027199-8,45,1.6,62,17027199,8,24.218750,Mayor de 30 años